/* open-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v36-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans-v36-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v36-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* changa-one-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/changa-one-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans',Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: #011627;
    background-color:#fdfffc;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #e71d36;
    text-decoration: none;
}

h1,
h2,
h3{
    font-family: "Changa One",sans-serif;

    font-weight: 400;
}
h1{
    font-size: 2rem;
    margin-bottom: 1em;
}
h2{
    font-size: 1.5rem;
    margin-bottom: .75em;
}
p{
    line-height: 1.5;
}

/*****************************
       Entête de page
 ******************************/

header{
    background-color: #011627;
    padding: 5px;
    margin-bottom: 30px;
    text-align: center;

}

header .nom,
header .metier {
    color: #2ec4b6;
    font-family: "Changa One", cursive  ;
    font-weight: 400;
    font-size: 1.75em;
}

header.métier{
    font-size: 1em;
    color: #e71d36;
}

 header nav ul{
    padding: 0;
    display:flex;
    gap: 1.5em;
    justify-content: center;
}

 header nav a{
     font-weight: bold;
     color: #fdfffc;
 }

header nav a:hover{

    color: #2ec4b6;
}
header nav li:first-of-type{
    display: none  ;
}
